@model IEnumerable<ERP.Models.Employee>

@{
    ViewBag.Title = "Index";

    string SortIcon(string field, string sortfield, bool ascending)
    {
        string sortIcon = "";
        if (field == sortfield)
        {
            if (ascending) 
                { sortIcon = "fa fa-sort-amount-asc"; }
            else 
                { sortIcon = "fa fa-sort-amount-desc"; }
        }
        return sortIcon;
    }
}


<h2>Liste des employés</h2>

<div class="employeeListHeaderLayout">
    <a href="@Url.Action("SetSortField", new {sortfield = "LastName"})">
        <span class="@SortIcon("LastName", ViewBag.SortField, ViewBag.SortDirection)"></span>
        @Html.DisplayNameFor(model => model.LastName)
    </a>
    <a href="@Url.Action("SetSortField", new {sortfield = "BirthDate"})">
        <span class="@SortIcon("BirthDate", ViewBag.SortField, ViewBag.SortDirection)"></span>
        @Html.DisplayNameFor(model => model.BirthDate)
    </a>
    <a href="@Url.Action("SetSortField", new {sortfield = "Department"})">
        <span class="@SortIcon("Department", ViewBag.SortField, ViewBag.SortDirection)"></span>
        @Html.DisplayNameFor(model => model.DepartmentId)
    </a>
    <a href="@Url.Action("SetSortField", new {sortfield = "Classification"})">
        <span class="@SortIcon("Classification", ViewBag.SortField, ViewBag.SortDirection)"></span>
        @Html.DisplayNameFor(model => model.ClassificationId)
    </a>
    <span>
        @Helper.IconCmd("Create", "fa-plus-square", "Ajouter un employé...")
    </span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
@foreach (var item in Model)
{
    <div class="employeeListLayout">
        <a href="mailto:@item.Email" style="font-weight:bold">
            @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
        </a>
        <span> @Html.DisplayFor(modelItem => item.BirthDate)</span>
        <span>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </span>
        <span>
            @Html.DisplayFor(modelItem => item.Classification.Name)
        </span>
        <span>
            @Helper.IconCmd("Edit/" + item.Id, "fa-edit", "Éditer " + item.LastName + " " + item.FirstName)
        </span>
        <span>
            @Helper.IconCmd("Details/" + item.Id, "fa-search", "Voir les détails sur " + item.LastName + " " + item.FirstName)
        </span>
        <span>
            @Helper.IconConfirmCmd("Delete/" + item.Id, "fa-times-rectangle-o", "Effacer " + item.LastName + " " + item.FirstName)
        </span>
    </div>
}


