@model IEnumerable<ERP.Models.Department>

@{
    ViewBag.Title = "Index";
}
<p>
    <div class="departementListHeaderLayout">
        <b>Gestion des départements</b>
        @Helper.IconCmd("Create", "fa-plus-square", "Ajouter un département...")
        <span>&nbsp;</span>
    </div>
</p>
@foreach (var item in Model)
{
    <div class="departementListLayout">
        @Html.DisplayFor(m => item.Name)
        @Helper.IconCmd("Edit/" + item.Id, "fa-edit", "Éditer " + item.Name)
        @if (item.Employees.Count == 0)
        {
            @Helper.IconConfirmCmd("Delete/" + item.Id, "fa-times-rectangle-o", "Effacer " + item.Name)
        }
    </div>

    if (item.Employees.Count > 0)
    {
        <div class="departementEmployeListLayout">
            @foreach (var employee in item.Employees.OrderBy(e => e.LastName).ThenBy(e => e.FirstName))
            {
                <div>
                    @employee.LastName @employee.FirstName
                </div>
            }
        </div>
    }
}

